@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
a:link {
	-webkit-text-stroke: #0000ff;
	text-decoration: underline;
}
a:visited {
	-webkit-text-stroke: #0000ff;
	text-decoration: underline;
}
a:hover {
	-webkit-text-stroke: #0000ff;
	text-decoration: none;
}

input {
	background: #5555ff99;
	border: 2px #ff0000 solid;
	-webkit-appearance: none;
	border-radius: 10px;
	padding: 8px;
	color: #0ff;
}
input#startobj, input#endobj {
	margin-left: 5px;
width: 15%
}
textarea {
	border: #f0f 2px solid;
	color: #0ff;
	background-color: #ffffff33;
}
button {
	color: red;
	background-color: #0ff;
	font-family: 'Rubik', 'Comic Sans MS', sans-serif;
	border: 1px blue solid;
}

div {
	color: #00ff00;
}
p {
	color: #f0f;
}
h1 {
	font-family: 'Rubik', 'Comic Sans MS', sans-serif;
	font-weight: bold;
	color: #0f0;
	font-size: 50;
	text-align: center;
}
h3 {
	font-family: 'Rubik', 'Comic Sans MS', sans-serif;
	font-weight: bold;
	color: #ffaa00;
	font-size: 40;
	text-align: center;
}
body {
	background-color: #220055;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right bottom;
	background-attachment: fixed;
	animation-name: belowmaingoin;
	animation-duration: 1s;
	font-family: 'Rubik', 'Comic Sans MS', sans-serif;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}
label {
	font-weight: bold;
	color: red;
}
.stackedit {
	animation-name: belowmaingoin;
	animation-duration: 1s;
}
custom1 {
	font-family: Rubik, Comic Sans MS;
	font-weight: bold;
	color: #00ff00;
	font-size: 40;
	-webkit-text-stroke: 2px #00f;
	text-align: center;
}
custom2 {
	font-family: Rubik, Comic Sans MS;
	font-weight: bold;
	color: #00ff00;
	font-size: 20;
	-webkit-text-stroke: 1.3px #0000ff;
}
.belowmain {
	text-align: center;
	position: relative;
	padding: 20px;
	animation-timing-function: cubic-bezier(0, 0, 0.5, 3);
	animation-name: belowmaingoin;
	animation-duration: 1s;
}

@keyframes belowmaingoin {
	from {left: 1000px;}
	to {left: 0px;}
}
